<%- include("./partials/header") %>
<main>
   
  <div class="parallax-container">
      <div class="parallax"><img src="./images/banner2.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Feiras de Animais</h2>
      
          <ul class="collection">
            <% for(let i=0; i < feiras.length; i++){ %>
              <li class="collection-item avatar">
                <img class="circle" src=<%= feiras[i].imagem %>>
                <span class="teal-text text-lighten-2"><%= feiras[i].titulo %></span>
                <p class="grey-text "><%= feiras[i].segmento %><br>
                <p> <%= feiras[i].data %></p>
                </p>
                <a href="#!" class="secondary-content btn modal-trigger"  data-target="modal<%= i %>">Detalhes</a>
                
                <div id="modal<%= i %>" class="modal">
                    <div class="modal-content">
                      <h4><%= feiras[i].titulo %></h4><br>
                      <h5>A feira</h5>
                      <p> <%= feiras[i].descricaoFeira %> </p> <br>
                      <h5>Perfil de <%= feiras[i].titulo %></h5>
                      <p>Setores: <%= feiras[i].setores %></p>  <br>
                      <p>Periodicidade: <%= feiras[i].periodicidade %></p>  <br>
                      <p>Alcance: <%= feiras[i].alcance %></p>  <br>
                      <h5></h5>Nova Edição <%= feiras[i].titulo %></h5>
                      <p><%= feiras[i].descricaoFeira %></p>
                    </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat">Fechar</a>
                  </div>
                </div>
                
              </li>
            <% } %>
          </ul>
        
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="./images/banner.jpg"></div>
    </div>
        
  
</main>

<%- include("./partials/footer") %>