<%- include("./partials/header") %>
<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Adote seu pet conosco</h1>
        <div class="row center">
          <h5 class="header center teal-text text-lighten-2">Com facilidade e segurança</h5>
        </div>
        <div class="row center">
          <a href="./saibaMais" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Saiba Mais</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <img src="/images/banner3.png" alt="" class="responsive-img">
    </div>
  </div>
  <div class="container">      
    <div class="row">
      
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active teal-text text-lighten-2" href="#todos">Todos os Pets</a></li>
          <li class="tab col s4"><a class="teal-text text-lighten-2" href="#cachorro">Cachorro</a></li>
          <li class="tab col s4"><a class="teal-text text-lighten-2" href="#gato">Gato</a></li>
        </ul>
      </div>
    
      <div id="todos">
          <% for(let i=0; i < pets.length; i++){ %>
              <div class="col s12 m6 l4">
                <div class="card large">
                    <div class="card-image">
                    <img src=<%= pets[i].imagem %>>
                    
                    </div>
                    <div class="card-content">
                    <span class="card-title black-text text-black"><%= pets[i].nome %></span>
                    <p><%= pets[i].descricao%></p>
                    </div>
                    <div class="card-action">
                    <a class="teal-text text-lighten-2" href="#">ADOTAR</a>
                    </div>
                </div>
              </div>
          <% } %>
      </div>
      <div id="cachorro">
            <% for (let index = 0; index < pets.length; index++){ %>
              <% if (pets[index].raca == "cachorro") { %>
                <div class="col s12 m6 l4">
                  <div class="card large">
                    <div class="card-image">
                    <img src=<%= pets[index].imagem %>>
                    </div>
                    <div class="card-content">
                    <span class="card-title"><% pets[index].nome %></span>
                    <p ><%= pets[index].descricao%></p>
                    </div>
                    <div class="card-action">
                    <a class="teal-text text-lighten-2" href="#">ADOTAR</a>
                    </div>
                  </div>
                </div>
              <%}%>
            <%} %>
      </div>
      <div id="gato">
        <% for (let index = 0; index < pets.length; index++){ %>
          <% if (pets[index].raca == "gato") { %>
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                    <img src=<%= pets[index].imagem %>>
                    </div>
                    <div class="card-content">
                    <span class="card-title"><% pets[index].nome %></span>
                    <p><%= pets[index].descricao%></p>
                    </div>
                    <div class="card-action">
                    <a class="teal-text text-lighten-2" href="#">ADOTAR</a>
                    </div>
                </div>
            </div>
          <%}%>
        <% } %>
      </div>              
      
    </div>                           
  </div>
</main>

<%- include("./partials/footer") %>